body{
    font-family: 'Inter', sans-serif;
}

.desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 1440px;
    height: 3503px;

    background: #FFFFFF;
}


.navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1440px;
    height: 80px;

    background: #FFFFFF;
}


.header{
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 32px;
    
    width: 1280px;
    height: 44px;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 148px;
    height: 26.99px;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 500px;
    height: 32px;

}

.navigation-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 12px;

    width: 207px;
    height: 44px;
}

button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 83px;
    height: 44px;

    border: none;
    border-radius: 8px;
}

button#signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 112px;
    height: 44px;
    background-color: #8E2424;
    color: #FFFFFF;

    border: none;
    border-radius: 8px;

}

a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
    color: #667085;

}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;

    width: 1440px;
    height: 200px;
}

.subheading{
    font-weight: 600;
    font-size: 16px;
    color: #8E2424;
    text-align: center;

    width: 78px;
    height: 24px;
}

.subheading-container{
    margin-bottom: 25px;
}

.subheading-bg{
    font-weight: 600;
    font-size: 16px;
    color: #8E2424;
    text-align: center;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 15px;

    width: 130px;
    height: 20px;
}

.title{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.02rem;
    color: #101828;
    text-align: center;
    line-height: 60px;
    margin-bottom: 25px;

    width: 800px;
    height: 60px;

}

.content{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    color:#667085;

    width: 791px;
    height: 60px;
}

.metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 96px;
    gap: 64px;

    width: 1440px;
    height: 288px;

}

.metricas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 64px;
    
    width: 1280px;
    height: 192px;
}

.metricas-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1216px;
    height: 192px;

}

.metrica-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 280px;
    height: 168px;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 280px;
    height: 168px;
}

.number-content{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;

    letter-spacing: -0.02em;

    color: #8E2424;

    width: 280px;
    height: 72px;

}

.title-content{
    width: 280px;
    height: 28px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #101828;

}

.subtitle-content{
    width: 280px;
    height: 48px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #667085;
    
}

.talentos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valores{
    width: 1280px;
    height: 1180px;
    margin-top: 64px;
}

.title-job{
    width: 768px;
    height: 30px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #101828;

}

.title-job-cargo{
    width: 720px;
    height: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    gap: 25px;

}

.design-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1280px;
    height: 358px;
}

.design{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 768px;
    height: 358px;
}

.design-valores{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 24px 28px;
    gap: 24px;
    border: 1px solid #EAECF0;
    border-radius: 16px;

    width: 768px;
    height: 105px;
}

.content-job{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin-top: 25px;

    width: 720px;
    height: 24px;
}

.content-job > span{
    width: 170px;
    height: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #667085;
}

.dev-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;

    width: 1280px;
    height: 518px;
}

.depoimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;

    width: 1440px;
    height: 500px;
}

.depoimento-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px;
    gap: 32px;

    width: 1280px;
    height: 404px;
}

.depoimento-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;

    width: 1216px;
    height: 404px;

    background-color: rgba(196, 25, 25, 0.041);
    border-radius: 16px;
}

.depoimento-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1088px;
    height: 124px;
}

.subheading-depo{
    width: 1088px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #8E2424;
}

.title-depo{
    width: 1088px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.person-depo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 1088px;
    height: 70px;
}

.person{
    width: 56px;
    height: 56px;
}

.person-name-job{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 1088px;
    height: 30px;
}

.name{
    width: 1088px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #101828;
}

.job{
    width: 1088px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
}